body {
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
}

* {
  box-sizing: border-box;
}

.popup {
  height: auto;
  width: auto;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  /* transition: 0.3s; */
  opacity: 1;
  pointer-events: all;
}

.hide {
  /* transition: 0.3s; */
  opacity: 0;
  pointer-events: none;
}

.st0 {
  fill: #dc88ff;
}
.st1 {
  fill: #f2c0ff;
}
.st2 {
  fill: #ffff00;
}
.st3 {
  fill: none;
  stroke: #ffff00;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.st4 {
  fill: #0037ff;
}
.st5 {
  fill: none;
  stroke: #0037ff;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.st6 {
  fill: #ff00ff;
}
.st7 {
  fill: none;
  stroke: #ff00ff;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.st8 {
  fill: #1dff78;
}
.st9 {
  fill: none;
  stroke: #1dff78;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.st10 {
  fill: #ff9210;
}
.st11 {
  fill: none;
  stroke: #ff9210;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.st12 {
  fill: #ff0055;
}
.st13 {
  fill: none;
  stroke: #ff0055;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
